
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,400;1,800&display=swap');
/* This makes all the padding, margins, border included in size */

* {
    box-sizing: border-box;
}

/* ROOT VARIABLES: */

:root{
    --primary: rgb(241, 123, 59);
    --primary-dark: rgb(33, 32, 29);
    --primary-light: rgb(255, 250, 223);
}

/* MAIN DEFAULTS */

body{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--primary);
    color: var(--primary-dark);
    margin: 0;
}
h1 {
    font-weight: normal;
    font-size: 3rem;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--primary-light);
    padding: 5px 10px 0px 0px;
}

p{
    margin: 0;
    padding: 0;
}
/* NAV */
#nav{
    margin: 5px 10px;
}

nav{
    display: flex;
    margin: 0;
}

nav ul{
    padding: 0;
    margin: 0
}

nav li{
    margin: 5px 20px 0 0px;
    font-size: 1.3rem;;
}

/* headings */

.section-heading-div{
    text-align: center;
    background-color: var(--primary-light);
}

/* FLEXBOX */
.container{
    position: relative;
}
#click-me{
    position: absolute;
    left: 5px;
    top: 10px;
    font-weight: normal;
    margin: 0;
}

img{
    max-width: 100%;
    max-height: 500px;
}
.row{
    display:flex;
    flex-wrap:wrap;
    padding: 0 5px;
}

.column{
    flex: 20%;
    padding:0 5px;
}

.column img{
    vertical-align: middle;
    margin-top: 10px;

}

/* GRID */

.grid-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 12.5%;
    margin: 0px 5px 5px 5px;
}

.grid-heading{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
}

#grid-menu{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4; 
    margin: 0 5px;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#grid-photo{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;  
}
 #grid-description{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 4; 
    display: flex;
    justify-content: center;
    align-items: center;
 }
#grid-buy-it{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

#grid-pc{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
}

#grid-post-it{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 5;
}

/* FOOTER */

footer {
    width: 100%;
    height: 40px;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    text-align: center;
    padding: 20px 0px;
}


/* RESPONSIVE LAYOUT */

@media (max-width: 800px){
    .column{
        flex: 50%;
    }
}

@media (max-width: 600px){
    .column{
        flex: 100%;
    }

    #nav a{
        display: none;
    }


}

